extends  ../layouts/main-layout.pug

include ../_includes/sharedHTMLfunctions

block styles
    script(src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js")
    link(rel="stylesheet", href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css")

block content
    
    .d-flex.justify-content-center
        .row
            .col-md-12
                form(action=(editing ? "/edit-phongban" : "/add-phongban"), method="POST")
                    h3 Thông tin phòng ban:
                        label(for="TenPB") Tên phòng ban
                        input.form-control#TenPB(placeholder="Tên phòng ban", value=(editing ? phongBan.TenPB : ""), name="TenPB" required)
                    // if is edit mode send id to find
                    - if (editing) {
                        input(type="hidden", name="MaPB", value=phongBan.MaPB)
                    - }
                    .form-row.text-right
                        .col-12
                            input.btn.btn-primary(type="submit", value=(editing ? "Chỉnh sửa" : "Thêm"))

block scripts
